body {
    font-family: 'Ibarra Real Nova', serif !important;

}

.darken-image {
    filter: brightness(50%) !important;
}

.text_size {
    font-size: 2vh;
}

.text-color {
    color: rgba(84, 176, 229, 255);
}